#bodyDiv {
 
    margin: 15px 120px 50px 120px;
    }

#nav {
    display: inline;
}

#upTop {
    display: inline;
    text-align: left;
}

#icons {
    display: inline;
    float: right;
    clear: both;
    margin: 10px;
}

h2 {
    font-family: 'Lobster', 'cursive';
}

h4, h3 {
    font-family: 'Open Sans Condensed', 'sans-serif';
}

h1 {
    font-family: 'Oswald', 'sans-serif';
}

#chocoPizza {
    width: 100%;
}

p {
    font-family: 'Cormorant Garamond', 'serif';
}

li {
    font-family: 'Coming Soon', 'cursive';
}

#listBox {
    background-image: url(./images/list-bg.png);
    background-repeat: no-repeat;
}



#Van {
    font-family: 'Merriweather', 'serif';
    font-size: 15px;
}

.lineSeparator {
    height: 8px;
    background: #717171;
    margin: 10px;
}

#bottomPage {
    display: inline; 
}
